* {
    border: none;
    padding: none;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

#main-container {
    justify-content: center;
    width: 960px;
    justify-self: center;
}

.box {
    height: 20px;
    width: 20px;
    border: 2px solid black;
}

.btn {
    border: 2px solid black;
    cursor: pointer;
}

